<% provide(:title, "Qualified person") %>
	<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(https://binary.edu.my/web/wp-content/uploads/2016/11/ManagementLeadership.jpg);">
		<div class="cover" style="background-color: rgba(132, 154, 175, 0.82)"></div>

		<!-- Begin page header-->
		<div class="page-header-wrapper">
			<div class="container">
				<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
					<h2>Company Profile</h2>
					<div class="devider"></div>
				</div>
			</div>
		</div>
		<!-- End page header-->
	</section>


	<section class="page">
		<div class="col-md-12" style="background-color:#fff;">
			<div class="col-md-12">
				<h3 style="padding:25px; margin-top:-50px" class="text-center">Qualified person
				</h3>

			</div>
			<div class="col-md-4">
				<ul style="font-size:16px">
					<li style="margin-bottom:-15px">
						<a href="cp_id1">
							<div class="panel panel-default">
								<div class="panel-body">Management Philosophy</div>
							</div>
						</a>
					</li>
					<li style="margin-bottom:-15px">
						<a href="cp_id2">
							<div class="panel panel-default">
								<div class="panel-body">Access Map</div>
							</div>
						</a>
					</li>
					<li style="margin-bottom:-15px">
						<a href="cp_id3">
							<div class="panel panel-default">
								<div class="panel-body">Qualified Person</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
			</div>
		</div>
	</section>