<% provide(:title, "Home") %>

            
          <!-- Begin text carousel intro section -->
      <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/slider-bg.jpg);">
        
        <div class="container">
          <div class="caption text-center text-white" data-stellar-ratio="0.7">

            <div id="owl-intro-text" class="owl-carousel">
              <div class="item">
                <h1>Welcome to TOA Software</h1>
                <p>We make each customer our priority</p>
                <div class="extra-space-l"></div>
                <a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
              </div>
              <div class="item">
                <h1>Total Support for customers</h1>
                <p>from development to sales and maintenance</p>
                <div class="extra-space-l"></div>
                <!--<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>-->
              </div>
              <div class="item">
                <h1>We Provide solution for everybody</h1>
                <p>Come work with us!</p>
                <div class="extra-space-l"></div>
                <!--<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>-->
              </div>
            </div>

          </div> <!-- /.caption -->
        </div> <!-- /.container -->

      </section>
      <!-- End text carousel intro section -->
                
                
                
                
            <!-- Begin about section -->
      <section id="about-section" class="page bg-style1">
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">TOA Software Corp is a software development company whose parent company is Donga Software Co., Ltd. Founded in April 1990, we are pioneer in software development and solve every type of customer needs. </p>
                        </div>
                    </div>
                </div>
               
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Who We Are?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What We Do?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Why We Do It?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-clock-o"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Since When?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            
                        </div> 
                         <div class="container">
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                    </div> 
                    </div> 
                </div>
                
                <div class="extra-space-l"></div>

      </section>

<!--Images Layout Section-->

<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image:url('https://oxfest.files.wordpress.com/2017/02/codingsnippet.jpg');">
<div style="background-color: rgba(0, 0, 0, 0.48); margin-top:-50px; margin-bottom:-50px">
                <div class="page-header-wrapper" style="padding-top:50px; padding-bottom:50px">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 style="color:white">Business Content</h2>
                            <div class="devider"></div>
                            <p class="subtitle" style="font-size:45px; color:white"> Software Development </p>

                        </div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                </div>
                </div>

               
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">    

                            
                        </div> 
                         <div class="container">
                            
                        <div class="extra-space-l"></div>
                         
                        
                    </div> 
                    </div> 
                </div>

                
                <div class="extra-space-l"></div>
                </div>
      </section>


<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image:url('http://www.gadgets-club.com/wp-content/uploads/2015/06/The-Technology-Revolution-How-Technology-is-Affecting-State-of-the-Art-Machinery.jpg');">
<div style="background-color: rgba(0, 0, 0, 0.48); margin-top:-50px; margin-bottom:-50px">
                <div class="page-header-wrapper" style="padding-top:50px; padding-bottom:50px">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 style="color:white">Business Content</h2>
                            <div class="devider"></div>
                            <p class="subtitle" style="font-size:45px; color:white"> Package Equipment Sales </p>

                        </div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                </div>
                </div>

               
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">    

                            
                        </div> 
                         <div class="container">
                        <div class="extra-space-l"></div>
                        
                    </div> 
                    </div> 
                </div>

                
                <div class="extra-space-l"></div>
                </div>
      </section>

<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image:url('http://www.tophosting.in.ua/wp-content/uploads/2016/05/recommended-wordpress-hosting.jpg');">
<div style="background-color: rgba(0, 0, 0, 0.48); margin-top:-50px; margin-bottom:-50px">
                <div class="page-header-wrapper" style="padding-top:50px; padding-bottom:50px">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 style="color:white">Business Content</h2>
                            <div class="devider"></div>
                            <p class="subtitle" style="font-size:45px; color:white"> Network Construction </p>

                        </div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                </div>
                </div>

               
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">    

                            
                        </div> 
                         <div class="container">
                        <div class="extra-space-l"></div>
                        
                    </div> 
                    </div> 
                </div>

                
                <div class="extra-space-l"></div>
                </div>
      </section>
      
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image:url('http://photaq.com/media/fmf/Image/image/21597/scalex/720;hacker_programmieren_code_binar_notebook_httpwwwshutterstock.jpg');">
<div style="background-color: rgba(0, 0, 0, 0.48); margin-top:-50px; margin-bottom:-50px">
                <div class="page-header-wrapper" style="padding-top:50px; padding-bottom:50px">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 style="color:white">Business Content</h2>
                            <div class="devider"></div>
                            <p class="subtitle" style="font-size:45px; color:white"> Maintenance Work </p>

                        </div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                </div>
                </div>

               
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">    

                            
                        </div> 
                         <div class="container">
                        <div class="extra-space-l"></div>
                        
                    </div> 
                    </div> 
                </div>

                
                <div class="extra-space-l"></div>
                </div>
      </section>


                
                <!-- Begin page header--> 
                <!--<div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Qualified Personnels</h4>
                        </div>
                    </div>
                </div>-->
                <!-- End page header-->
                
                <!-- Begin Our Skills -->
                <!--<div class="our-skills">
                  <div class="container">
                      <div class="row">
                        
                          <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Photoshop & Illustrator</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>WordPress</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Html & Css</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Javascript</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div> 
                </div>
                
          </section>-->
          <!-- End about section -->

              
              
              
          <!-- Begin cta -->
          <!--<section id="cta-section">
            <div class="cta">
              <div class="container">
                  <div class="row">
                    
                      <div class="col-md-9">
                          <h1>Download Our Pdf</h1>
                            <p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
                        </div>
                        
                        <div class="col-md-3">
                          <div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
                        <a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button">Download</a>
                          </div>
                        </div>
                        
                    </div>
                </div> 
            </div>
          </section>-->
          <!-- End cta -->

              
              
              
            <!-- Begin Services -->
            <section id="services-section" class="page text-center" style="background-color:#f8f8f8">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Services</h2>
                            <div class="devider"></div>
                            <p class="subtitle">what we really know how</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
            
                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Entrusted Development</h4>
                                        <p>
                                        We are providing systems that match the purpose and environment, such as building a new system, fusing with existing systems, and responding to open systems.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Packaged Equipment Sales</h4>
                                        <p> We will select package software according to customer's operation and propose it. Handled items: OBC · PCA · Inquiries including many others.</p>
                                    </div>
                                </a>
                            </div>
            
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Network Construction</h4>
                                        <p>In addition to proposing, designing, installing and maintaining a network tailored to the scale of the business, please leave the construction of a WAN connecting each site using VPN etc.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Maintenance Work</h4>
                                        <p>We will respond to operational errors, system troubles, and network environment preservation.</p>
                                    </div>
                                </a>
                            </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                    
                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                        <a class="btn btn-default btn-lg-xl" href="#" target="_blank" role="button">Learn More</a>
                        </div>
                    </div> <!-- /.container -->                       
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->
              
              
              
              
            <!-- Begin testimonials -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/testimonial-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Managaement Philosophy</h2>
                                <div class="devider"></div>
                                <p class="subtitle">What we believe in</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">
                        <div class="testimonial-inner center-block text-center">
                            <div id="owl-testimonial" class="owl-carousel">
                                <div class="item">
                                    <blockquote>
                                        <p>"We constantly polish effort the spirit and technology of their own."</p>
                                        <!--<footer><cite title="Source Title">Daryl Hodgeman</cite></footer>-->
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"We, through the work of an individual's life and the company, and efforts to the realization of an affluent society."</p>
                                        <!--<footer><cite title="Source Title">John Doe</cite></footer>-->
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"We are not is our aim to make a work that can not.".</p>
                                        <!--<footer><cite title="Source Title">John Doe</cite></footer>-->
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End testimonials -->
                

                
                
            <!-- Begin Portfolio -->
            <section id="portfolio-section" class="page bg-style1">
              <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Our Products</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">What we are proud of</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End page header-->
                                <div class="portfoloi_content_area" >
                                    <div class="portfolio_menu" id="filters">
                                        <ul>
                                            <li class="active_prot_menu"><a href="#porfolio_menu" data-filter="*">all</a></li>


                                            <li><a href="#porfolio_menu" data-filter=".responsive">A/R Management System</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".websites">CAssis</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".webDesign">POOMO</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".appsDevelopment">Target management subsystem</a></li>
                                    <li><a href="#porfolio_menu" data-filter=".GraphicDesign">Automatic journaling system</a></li>
                                        <li><a href="#porfolio_menu" data-filter=".Account">Account withdrawal system</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".Edgeview">Edgeview5</a></li>




                                            
                                        </ul>
                                    </div>


                                    <div class="portfolio_content">
                                        <div class="row"  id="portfolio">
                                            <div class="col-xs-12 col-sm-4 responsive">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="https://www.toasoft.co.jp/img/index/pic07.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">A/R Management System</a>
                                                        <span>Hotel coupons used at inns, leisure facilities, etc., credit claim management system</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 websites">
                                            <div class="portfolio_single_content">
                                    <img class="img-product" src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=30" alt="title"/>
                                                    <div>
                                                        <a href="#">CAssis</a>
                                                        <span>Android application to support business of CATV operator</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 webDesign">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=31" alt="title"/>
                                                    <div>
                                                        <a href="#">POOMO</a>
                                                        <span>Integrated management tool that simultaneously monitors and manages multiple PONs.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="https://www.toasoft.co.jp/img/index/pic10.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Target management subsystem</a>
                                                        <span>A system that compares target and actual results of sales and profits and inquires</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="assets/journalism.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Automatic journaling system</a>
                                                        <span>Automatic journal entry of voucher data of sales minister and automatic registration to Minister of Construction Omission of voucher input to Construction Minister</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 Account">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="assets/account.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Account withdrawal system</a>
                                                        <span>Create account withdrawal data for each bank 
                                                                Collaboration between withdrawal / deposit data can be done in cooperation with the customer minister and double entry is prevented</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 Edgeview">
                                                <div class="portfolio_single_content">
                                                    <img class="img-product" src="assets/weather.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Edgeview 5</a>
                                                        <span>"EdgeView 5" is a software product that collects and manages temperature and humidity data. </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--
                                            <div class="col-xs-12 col-sm-4 appsDevelopment websites">
                                                <div class="portfolio_single_content">
                                                    <img src="assets//portfolio/p5.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Joy of Independence</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="assets/portfolio/p6.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Night Crawlers</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 responsive">
                                                <div class="portfolio_single_content">
                                                    <img src="assets/portfolio/p7.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Last Motel</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="assets/portfolio/p8.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Dirk Road</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 websites">
                                                <div class="portfolio_single_content">
                                                    <img src="assets/portfolio/p9.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Old is Gold</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                        -->


                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End portfolio -->



            
                
                
                
            <!-- Begin counter up -->
            <section id="counter-section">                          
        <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/counter-bg.jpg);">
          <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Company Profile</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Our company at glance</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
          <div class="container">

            <div class="row">

              <div class="fact text-center col-md-3 col-sm-6">
                <div class="fact-inner">
                  <i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
                  <span class="counter">20</span>
                  <p class="lead">Employees</p>
                </div>
              </div>

              <div class="fact text-center col-md-3 col-sm-6">
                <div class="fact-inner">
                  <i class="fa fa-leaf fa-3x"></i>
                                    <div class="extra-space-l"></div>
                  <span class="counter">7</span>
                  <p class="lead">Products</p>
                </div>
              </div>

              <div class="fact text-center col-md-3 col-sm-6">
                <div class="fact-inner">
                <i class="fa fa-jpy fa-3x" aria-hidden="true"></i>
                <div class="extra-space-l"></div>
                  <span class="counter">20</span>
                  <p class="lead">Million Yen Capital</p>
                </div>
              </div>

              <div class="fact last text-center col-md-3 col-sm-6">
                <div class="fact-inner">
                  <i class="fa fa-file-text fa-3x"></i>
                                    <div class="extra-space-l"></div>
                  <span class="counter">4</span>
                  <p class="lead">Case Studies</p>
                </div>
              </div>

            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </div>
            </section>
      <!-- End counter up -->
                
                
                
                
            <!-- Begin team-->
            <section id="team-section" class="page">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meet our experts</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>Hiroyuki Hatano</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="assets/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>  
                    </div>
                </div>

            </section>
            <!-- End team-->  




    <section id="prices-section" class="page" style="background-color:#f8f8f8">
    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Case Studies</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Our Case Studies</p>
                        </div>
        <div class="container">
            <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <a href="pg_id1">
                    <img style="width: 100%" src="https://www.toasoft.co.jp/img/index/pic05.jpg">
                    </a>
                  </div>
                  <div class="caption list-group text-center ">
                      <a href="pg_id1">
                     <h5>Fruits marketing sales management system</h5></a>
                    <p>Sales management system for fruit market pursuing business efficiency and profit management</p>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="pg_id1">Learn More</a>
                  </div>
                </div>                    
              </div>
            </div>
            <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                       <a href="pg_id2">
                    <img style="width: 100%" src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=21">
                       </a>
                  </div>
                  <div class="caption list-group text-center">
                      <a href="pg_id2">
                     <h5>Manufacturing sales management system </h5></a>
                    <p>Integrated system for metal processing (terminal manufacturing) dealers covering from order reception to production and shipping</p>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="pg_id2">Learn More</a>
                  </div>
                </div>                    
              </div>
            </div>
            <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                       <a href="pg_id3">
                    <img style="width: 100%" src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=28">
                       </a>
                  </div>
                  <div class="caption list-group text-center ">
                      <a href="pg_id3">
                     <h5>Driving school trainee management system </h5></a>
                    <p>A training course management system for automobile schools that consistently manages students from entry to graduation and responds to deposits</p>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="pg_id3">Learn More</a>
                  </div>
                </div>                    
              </div>
            </div>
            <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                       <a href="pg_id4">
                    <img style="width: 100%" src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=68">
                       </a>
                  </div>
                  <div class="caption list-group text-center ">
                      <a href="pg_id4">
                     <h5>Member management system</h5></a>
                    <p>System for managing membership information of enterprises to which civil engineering management engineer and civil engineering supervision engineer belongs</p>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="pg_id4">Learn More</a>
                  </div>
                </div>                    
              </div>
            </div>
        </div>
   </section>
                

                          
                
<!--            
            <section id="partners-section">
                
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Partners</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Those who trust us</p>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="assets/partners/1.png" alt="img">
                        <img src="assets/partners/2.png" alt="img">
                        <img src="assets/partners/3.png" alt="img">
                        <img src="assets/partners/4.png" alt="img">
                        <img src="assets/partners/5.png" alt="img">
                        <img src="assets/partners/6.png" alt="img">
                        <img src="assets/partners/7.png" alt="img">
                    </div>
                </div>
            </section>
           -->
                
                
                
            <!-- Begin prices section -->
      <!--<section id="prices-section" class="page">

                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Prices</h2>
                            <div class="devider"></div>
                            <p class="subtitle">That how much</p>
                        </div>
                    </div>
                </div>

        <div class="extra-space-l"></div>

        <div class="prices">
          <div class="container">
            <div class="row">
              
              <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <i class="fa fa-plug fa-2x"></i>
                    <h3>Basic</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead"><strong>$49</strong></p>
                  </div>
                  <ul class="list-group text-center">
                    <li class="list-group-item">Personal Use</li>
                    <li class="list-group-item">3 projects</li>
                    <li class="list-group-item">1 GB Disk</li>
                    <li class="list-group-item">Custom Domain</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="#">Order Now!</a>
                  </div>
                </div>                    
              </div>

              <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <i class="fa fa-cog fa-2x"></i>
                    <h3>Advanced</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead"><strong>$99</strong></p>
                  </div>
                  <ul class="list-group text-center">
                    <li class="list-group-item">Personal Use</li>
                    <li class="list-group-item">5 projects</li>
                    <li class="list-group-item">5 GB Disk</li>
                    <li class="list-group-item">Custom Domain</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="#">Order Now!</a>
                  </div>
                </div>                    
              </div>
              
              <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <i class="fa fa-star fa-2x"></i>
                    <h3>Professional</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead"><strong>$149</strong></p>
                  </div>
                  <ul class="list-group text-center">
                    <li class="list-group-item">Personal Use</li>
                    <li class="list-group-item">20 Projects</li>
                    <li class="list-group-item">20 GB Disk</li>
                    <li class="list-group-item">Custom Domain</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="#">Order Now!</a>
                  </div>
                  <div class="price-box-ribbon"><strong>Popular</strong></div>
                </div>                    
              </div>
              
              <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <i class="fa fa-plus fa-2x"></i>
                    <h3>Ultimate</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead"><strong>$199</strong></p>
                  </div>
                  <ul class="list-group text-center">
                    <li class="list-group-item">Multi Use</li>
                    <li class="list-group-item">Unlimited Projects</li>
                    <li class="list-group-item">99 GB Disk</li>
                    <li class="list-group-item">Custom Domain</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="panel-footer text-center">
                    <a class="btn btn-default" href="#">Order Now!</a>
                  </div>
                </div>                    
              </div>
              
            </div> 
          </div> 
        </div>
        <div class="extra-space-l"></div>
      </section>-->
      <!-- End prices section -->
                
                
                
                
            <!-- Begin social section -->
      <section id="social-section" style="background-color:#c0c0c0">
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="container">
                  <ul class="social-list">
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>                      
                    </ul>
                </div>
                
            </section>
            <!-- End social section -->
           
           <%= render 'layouts/contact' %>

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        