<% provide(:title, "Automobile school teacher management") %>
	<section class="page" style="background-color:#f0ede9; padding:30px">
		<div class="col-md-12" style="background-color:#fff;">
			<div class="col-md-12">
				<h3 style="padding:25px" class="text-center">Automobile school teacher management</h3>

			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<ul style="font-size:16px">
						<li style="margin-bottom:-15px">
							<a href="pg_id1">
								<div class="panel panel-default">
									<div class="panel-body">Fruits marketing sales management system</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id2">
								<div class="panel panel-default">
									<div class="panel-body">Metal Processing Industry Production Sales Management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id3">
								<div class="panel panel-default">
									<div class="panel-body">Automobile school teacher management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id4">
								<div class="panel panel-default">
									<div class="panel-body">Membership management</div>
								</div>
							</a>
						</li>
					</ul>

				</div>

				<div class="col-md-8 wow fadeInRight">
					<p style="text-align:justify">By consistently managing data on the student from entry to graduation, it is easy to issue and manage training records,
						temporary license cards, various certificates, and other various reports. Also, you can use it freely by outputting
						data as CSV. You can use a normal input terminal as a POS terminal by connecting a cash drawer and a receipt printer
						without installing a dedicated POS terminal. By doing payment management for each trainee student, it becomes possible
						to manage payment of the training fee by individuals.
					</p>
				</div>
			</div>
			<div class="col-md-12" style="padding-top:50px">

				<div class="col-md-7 wow fadeInLeft" data-wow-delay="0.2s" style="padding-bottom:20px">
					<img src="https://www.toasoft.co.jp/img/pic01.jpg" style="width:100%; border:1px solid" alt="">
				</div>


				<div class="col-md-5 wow fadeInUp" data-wow-delay="0.4s">
					<h3>Features</h3>
					<ol style="font-size:16px">
						<li style="padding-bottom:25px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> Respond quickly to changing forms of various submissions.
						</li>
						
					</ol>
				</div>
			</div>
		</div>
	</section>


	<style>
		.wow {
			visibility: hidden;
		}
	</style>