<% provide(:title, "Membership management") %>
	<section class="page" style="background-color:#f0ede9; padding:30px">
		<div class="col-md-12" style="background-color:#fff;">
			<div class="col-md-12">
				<h3 style="padding:25px" class="text-center">Membership management</h3>

			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<ul style="font-size:16px">
						<li style="margin-bottom:-15px">
							<a href="pg_id1">
								<div class="panel panel-default">
									<div class="panel-body">Fruits marketing sales management system</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id2">
								<div class="panel panel-default">
									<div class="panel-body">Metal Processing Industry Production Sales Management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id3">
								<div class="panel panel-default">
									<div class="panel-body">Automobile school teacher management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id4">
								<div class="panel panel-default">
									<div class="panel-body">Membership management</div>
								</div>
							</a>
						</li>
					</ul>

				</div>

				<div class="col-md-8 wow fadeInRight">
					<p style="text-align:justify">Civil engineering management engineer, and civil engineering management engineer will manage member information of companies
						belonging. When holding a seminar, you can do a series of work related to the course from issuing a lecture slip as
						preparation to preparing a training result report after training. By doing system collaboration with the continuous
						learning system "CPDS" of the (1 company) Civil Engineering and Management Engineers Association of Japan, you can
						reflect the learning history in the member information and issue the learning history certificate.
					</p>
				</div>
			</div>
			<div class="col-md-12" style="padding-top:50px">

				<div class="col-md-7 wow fadeInLeft round" data-wow-delay="0.2s" style="padding-bottom:20px;">
					<img  src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=82" style="width:100%; border:1px solid" alt="">
				</div>


				<div class="col-md-5 wow fadeInUp" data-wow-delay="0.4s">
					<h3>Features</h3>
					<ol style="font-size:16px">
						<li style="padding-bottom:25px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> Regarding workshops, you can manage and manage necessary work
							reliably.
						</li>
						<li style="padding-bottom:25px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> With CPDS cooperation, it becomes possible to perform supplementary
							services for members, and the convenience of members is improved.
						</li>
						
					</ol>
				</div>
			</div>
		</div>
	</section>


	<style>
		.wow {
			visibility: hidden;
		}
	</style>