<% provide(:title, "A / R management system") %>
	<section class="page" style="background-color:#f0ede9; padding:30px">
		<div class="col-md-12" style="background-color:#fff;">
			<div class="col-md-12">
				<h3 style="padding:25px" class="text-center">A / R management system</h3>

			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<ul style="font-size:16px">
						<li style="margin-bottom:-15px">
							<a href="pg_id1">
								<div class="panel panel-default">
									<div class="panel-body">Fruits marketing sales management system</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id2">
								<div class="panel panel-default">
									<div class="panel-body">Metal Processing Industry Production Sales Management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id3">
								<div class="panel panel-default">
									<div class="panel-body">Automobile school teacher management</div>
								</div>
							</a>
						</li>
						<li style="margin-bottom:-15px">
							<a href="pg_id4">
								<div class="panel panel-default">
									<div class="panel-body">Membership management</div>
								</div>
							</a>
						</li>
					</ul>

				</div>

				<div class="col-md-8 wow fadeInRight">
					<p style="text-align:justify">It is a system developed according to customers' requests when complicated billing work!
						<ul style="font-size:16px">
							<li>
								● Main master & accounts receivable data are completely linked with "NAVC hotel system".
							</li>
							<li>
								● For each individual claim, you can "list in real time" from sales to billing and collection status.
							</li>
							<li>
								● Supports anomalous recovery processing.
								<ul>
									<li>
										① Completely complying with the customer's designated billing conditions (multiple tightening in the month, intermediate
										tightening etc.)
									</li>
									<li>
										② Automated rebate calculation at the time of billing (Direct entry is also possible)
									</li>
									<li>
										③ Effect on quick collection management and cash flow forecast by collection route setting and scheduled recovery date large
									</li>
									<li>
										④ Collection corresponds to individual clearing payment (Coupon number input
									</li>
									<li>
										⑤ Correspond to cash on receipt of cash on receipt of money (Automatic management of collected coupons)
									</li>
									<li>
										⑥ Correspond to canceling fee collection agency fees (Up to 99 offset items can be set freely)
									</li>
								</ul>
							</li>
							<li>
								● You can receive an order separately on the invoice form. </li>
							<li>
								● The main data can be EXCEL data output.

							</li>
							<li>
								● Nabak and our company will cooperate with support.
							</li>
						</ul>




					</p>
				</div>
			</div>

			<div class="col-md-12" style="padding-top:50px">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="0.2s" style="padding-bottom:20px">
					<img src="https://www.toasoft.co.jp/?action=common_download_main&upload_id=29" style="width:100%; border:1px solid" alt="">
				</div>
				<div class="col-md-5 wow fadeInUp" data-wow-delay="0.4s">
					<h3>Features</h3>
					<ol style="font-size:16px">
						<li style="padding-bottom:25px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> Real-time sales management enables quick business operation.
						</li>
						<li style="padding-bottom:25px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> Representatives can sell smoothly even in the case of sales
							representatives on business trips or vacations.</li>
						<li style="padding-bottom:15px">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i> Flexible sales analysis based on actual results enables sales
							forecasting. </li>
					</ol>
				</div>
			</div>
            <div class="col-md-12 circle">

        </div>
		</div>

        
	</section>


	<style>
		.wow {
			visibility: hidden;
            
		}

         #circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
	</style>

   
